@media (min-width: 768px){
	.aboutUs .txt-underline span:before {
	    background: #cef1fa;
	    position: absolute;
	    content: '';
	    height: 8px;
	    left: -777px;
	    bottom: -1px;
	    width: 1000px;
	    z-index: -1;
	}
	.ana_btn span.btn-border-psg {
	    z-index: 9;
	}
	.midabout,
	.aboutUs .aboutus-info{
	    max-width: 1170px;
	    margin: 0 auto;
	    padding: 0;
	}
	.aboutUs .aboutus-info .img {
	    padding-bottom: 40px;
	}
	.aboutus_ssi .txt-underline span {
	    padding: 0;
	    font-size: 36px;
	}
	.aboutus_ssi .txt-underline {
	    display: inline-block;
	}
	.aboutus_ssi h3 {padding-left: 4%;}

	.aboutus_ssi p {
	    left: 5%;
	}
	.analytics {
	    height: 800px;
	    position: relative;
		margin-top: 100px;
	}

	.imgmid {
	    /*position: absolute;*/
	    /*top: 50%;*/
	    /*left: 50%;*/
	    /*transform: translate(-50%, -50%);*/
		position: relative;
		text-align: center;
		top:145px;
	}
	.groupcnt1 {
		background: url('../images/aboutus/image_background1_03.png') no-repeat top left;
		width: 418px;
		height: 325px;
		background-size: 418px 325px;
		position: absolute;
		top: -10px;
		left: 0;
		text-align: left;
		transform: translateY(-32%);
	}
	.groupcnt2 {
		background: url('../images/aboutus/ssi2.png') no-repeat top right;
		background-size:  590px 352px;
		width: 590px;
		height: 352px;
		position: absolute;
		top: -275px;
		right: -43px;
		text-align: right;
	}
	.groupcnt3 {
		background: url('../images/aboutus/ssi3.png') no-repeat top right;
		background-size : 558px 350px;
		width: 558px;
		height: 350px;
		position: absolute;
		bottom: -226px;
		right: -43px;
		text-align: right;
	}
	.imgmbottom1 {
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.imgmbottom2 {
		position: absolute;
		bottom: 0;
		left: 35%;
		transform: translateX(-35%);
	}
    .groupcnt1 h3 {
		padding-top: 15px;
		padding-left: 20px;
		font-size: 24px;
		position: relative;
		z-index: 9;
		margin-bottom: 10px;
	}

	.groupcnt1:after {content: "";background: url(../images/common/gradient_line.png) no-repeat;background-size: cover;position: absolute;top: 10px;left: 15px;width: 17px;height: 32px;/* z-index: -1; */}

	.groupcnt1 strong {
		font-size: 16px;
	}
	.groupcnt1 p {
		position: relative;
		width: 100%;
		line-height: 22px;
	}
	.ana_btn {
	    position: absolute;
	    bottom: 10px;
	    right: 30px;
	    text-align: center;
	}

	.left_button {
		left:20px;
		right: auto;

	}
	.ana_btn span.btn_cl {
	    background: linear-gradient(150deg, #35c4ea 0%, #35c4ea 50%, #8fca70 71%, #8fca70 100%);
	    height: 100%;
	    width: 450px;
	    -webkit-transform: translateX(-320px);
	    transform: translateX(-320px);
	    transition: -webkit-transform 400ms ease-in;
	    -webkit-transition: -webkit-transform 400ms ease-in;
	    transition: transform 400ms ease-in;
	    transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
	    position: absolute;
	    /* left: -50%; */
	    z-index: -1;
	    top: 0px;
	}
	.ana_btn a {
		font-size: 16px;
		line-height: 20px;
		width: 160px;
		padding: 6px 0;
		z-index: 999;
	}
	.groupcnt2:after, .groupcnt3:after  {
		content: "";
		background: url(../images/common/gradient_line.png) no-repeat;
		background-size: cover;
		position: absolute;
		top: 20px;
		right: 15px;
		width: 17px;
		height: 32px;
		/* z-index: -1; */
	}
	.groupcnt2 h3, .groupcnt3 h3 {
		padding: 24px 19px 0 0;
		font-size: 24px;
		position: relative;
		z-index: 9;
		margin-bottom: 10px;
	}
	.groupcnt2 p, .groupcnt3 p {
		line-height: 22px;
		position: relative;
		width: 100%;
		left: 0;
		font-size: 16px;
		padding-right: 20px;
	}
	.groupcnt2 .ana_btn, .groupcnt3 .ana_btn {
	    right: 20px;
	    bottom: 20px;
	}
	.midabout {
	    padding-bottom: 30px;
	}
}
/*@media screen and (max-width: 1300px) {*/
	/*.analytics{*/
		/*overflow-x: scroll;*/
	/*}*/
/*}*/
@media (min-width: 768px ) and (max-width: 1200px) {
	.chart_wrap{
		width: 100%;
		overflow-x: scroll;
	}
	.analytics {
		width: 1170px;
		margin-top: 132px;
	}
	.btn-border-psg {
		height: 38px;
		bottom: 4px;
		box-sizing: border-box;
	}

	/*.analytics {*/
	/*height: 1000px;*/
	/*}*/

	/*.groupcnt3 {*/
	    /*bottom: 15%;*/
	/*}*/
}
@media (max-width: 767px){
	.analytics {
	    display: none;
	}
}