#viewport {
    width: 784px;
    height: 914px;
    cursor:move;    
    position:relative;
    float:left;  
    overflow: initial !important;
}

#viewport-sp {
    width: 784px;
    height: 914px;
    cursor:move;    
    position:relative;
    float:left;  
    overflow: initial !important;
}

.kurashi-content{
  position: relative;
  /*overflow: initial;*/
}

.kurashi-content a{
    outline: none;
    box-shadow: none;
}

.kurashi .process{
    background: url(../images/kurashi/bg_all.png) center center no-repeat;
    background-size: cover; 
    padding-bottom: 50px;
}

.map-control {
    display:block !important;
    position:static !important;
}
.btn_prev {
    position:absolute;
    left:0;
    top:427px;
    z-index:9999;
}
.btn_next {
    position:absolute;
    right:0;
    top:427px;
    z-index:9999;
}
.btn_down {
    position:absolute;
    left:378px;
    bottom:0;
    z-index:9999;
}
.btn_up {
    position:absolute;
    left:364px;
    top:0;
    z-index:9999;
}
.map-control .right {
    float:none;
    width:auto;
}
.btn_prev a:hover,
.btn_next a:hover,
.btn_down a:hover,
.btn_up a:hover {
    opacity:0.8;
    filter: alpha(opacity=80);
    -ms-filter: "alpha( opacity=80 )";
}
.mark01{
    position:absolute;
    left: 643px;
    top: -72px;
    z-index: 999;
}
.mark02{
    position:absolute;
    left: 576px;
    top: 430px;
    z-index: 999;
}
.mark03{
    position:absolute;
    left: 146px;
    top: 478px;
    z-index: 999;    
}
.mark04{
    position:absolute;
    left: 456px;
    top: 665px;
    z-index: 999;    
}
.mark05{
    position:absolute;
    left: 712px;
    top: 507px;
    z-index: 999;    
}
.mark06{
    position:absolute;
    left: 916px;
    top: 581px;
    z-index: 999;    
}
.mark07{
    position:absolute;
    left: 745px;
    top: 381px;
    z-index: 999;    
}
.mark08{
    position:absolute;
    left: 901px;
    top: 446px;
    z-index: 999;    
}
.mark09{
    position:absolute;
    left: 682px;
    top: 738px;
    z-index: 999;    
}
.mark10{
    position:absolute;
    left: 419px;
    top: 533px;
    z-index: 999;    
}
.tooltip {
    position:relative;
}
.tooltip span {
    position:absolute;
    top:-35px;
    left:40px;
    background-color:#0024BF;
    color:#FFF;
    text-align:center;
    padding:10px;
    z-index:2;
    display:none;
    width:100px;
    font-size:10px;
}

.info01{
    position: absolute;
    right: 0px;
    top: 600px;
    z-index: 9999;
    display: none;
}

.info02{
   position: absolute;
   left: 290px;
   top: -86px;
   display: none; 
}

.info03{
    position: absolute;
    left: 550px;
    top: 94px;
    display: none;
}

.info04{
    position: absolute;
    right: 40px;
    top: -52px;
    display: none;
}

.info05{
    position: absolute;
    left: 0px;
    top: 311px;
    display: none;
    z-index: 9999;

}


.info06{
    position: absolute;
    left: 0px;
    top: 593px;
    display: none;    
}

.info07{
    position: absolute;
    left: 7px;
    top: 713px;
    display: none;    
}

.info08{
    position: absolute;
    left: 335px;
    top: 824px;
    z-index: 9999;
    display: none;    
}

.info09{
    position: absolute;
    left: 678px;
    top: 904px;
    display: none;    
}

.info10{
    position: absolute;
    right: 6px;
    top: 773px;
    display: none;    
}


.line01{
    position: absolute;
    right: 86px;
    top: 533px;
    display: none;     
}

.line02{
    position: absolute;
    left: 600px;
    top: -60px;
    display: none;
}

.line03{
    position: absolute;
    left: 770px;
    top: 184px;
    display: none;    
}

.line04{
    position: absolute;
    right: 182px;
    top: 44px;
    display: none;    
}

.line05{
    position: absolute;
    left: 239px;
    top: 358px;
    display: none;    
}


.line06{
    position: absolute;
    left: 90px;
    top: 508px;
    display: none;    
}

.line07{
    position: absolute;
    left: 290px;
    top: 562px;
    display: none;    
}

.line08{
    position: absolute;
    left: 481px;
    top: 736px;
    display: none;    
}

.line09{
    position: absolute;
    left: 697px;
    top: 769px;
    display: none;    
}

.line10{
    position: absolute;
    right: 47px;
    top: 607px;
    display: none;    
}


.cboxElement:hover{
   opacity: 0.7;
}    

#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
/*#cboxClose{cursor:pointer;display: none !important;}*/
#cboxClose {
        cursor: pointer;
        display: block !important; 
        position: absolute;
        z-index: 9999;
        top: 10px;
        right: 10px;
        background: url(../images/kurashi/sp/close.png) no-repeat;
        height: 15px;
        width: 15px;
    }

.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
#colorbox{left:50% !important; margin-left:-395px !important;}
#cboxContent{
    overflow: visible;
    border-radius: 8px;
    background-color: #ffffff;
    opacity: 0.9;
}

#cboxContent p{
    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 18px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    color: #383938;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
    min-height: 200px;
}

#cboxContent .logo{
    margin-left: 20px;
}

#cboxContent .image-item{  
    text-align: center;
    margin: auto;  
}


/*#cboxLoadingOverlay{background:url(/images/kurashi/loading_background.png) no-repeat center center;}*/
/*#cboxLoadingGraphic{background:url(/images/kurashi/loading.gif) no-repeat center center;}*/
/*#cboxClose{position:absolute; top:5px; background:url(/images/kurashi/close_off.png) no-repeat left top; width:70px; height:30px; text-indent:-9999px; right:35px;}*/
/*#cboxClose:hover{background:url(/images/kurashi/close_on.png);}*/
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxTopLeft, #cboxTopCenter, #cboxTopRight, #cboxBottomLeft, #cboxBottomCenter, #cboxBottomRight, #cboxMiddleLeft, #cboxMiddleRight, #cboxTitle, #cboxCurrent{display:none;}
.box_inn{
    padding: 20px;
    color:#fff;
    font-size:14px;
    line-height:1.8;
}
.box_inn .img{
    float:right;
    border:4px solid #fff;
    margin:0 0 15px 20px;
}
.box_inn h2{
    font-size:28px;
    margin-bottom:20px;
    line-height:1;
}
.wrap_fields{
    position: absolute;
    top: 70px;
    right: 0px;
    /*display: block!important;*/
    width: 390px;
    height: 256px;
    border: 4px solid;
    border-color: #8fca70;
    -o-border-image: linear-gradient(120deg, #35c4ea 0%, #35c4ea 20%, #8fca70 100%);
    border-image: linear-gradient(120deg, #35c4ea 0%, #35c4ea 20%, #8fca70 100%);
    border-image-slice: 1;
    box-sizing: border-box;
    background: #ffffff;
    padding: 20px;
}

.field_content{
    color: #383938;
    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 13px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: left;
    padding: 7px 0px 10px 0px; 
}


.field_title a{
    padding: 6px 8px 5px 11px;
    color: #ffffff;
    font-size: 13px;
    position: relative;
}

.fields_inner .active{
   opacity: 0.5;
}
.field_title a:before{
    content: "";
    position: absolute;
    top:0px;
    right: -30px;
    width: 0;
    height: 0;
    border-right: 30px solid transparent;

}

.field_title_1{
    border-bottom: 1px solid #e96188;
}
.field_title_1 a{

    background: #e96188;
}
.field_title_1 a:before{
    border-bottom: 29px solid #e96188;
}

.field_title_1 span{
   margin-right: 30px;
}

.field_title_2{
    border-bottom:1px solid #f7b10a;
}
.field_title_2 a{

    background: #f7b10a;
}
.field_title_2 a:before{
    border-bottom: 29px solid #f7b10a;
}


.field_title_3{
    border-bottom:1px solid #4e9bd5;
}
.field_title_3 a{

    background: #4e9bd5;
}
.field_title_3 a:before{
    border-bottom: 29px solid #4e9bd5;
}

.field_title_3 span{
   margin-right: 50px;
}

.common-contact, footer{
    float: left;
    width: 100%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.line{
    height: auto;
    background: transparent !important;
    margin: unset;
}

.title-sp{
   display: none !important; 
}

@media screen and (min-width: 992px){
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media screen and (min-width: 768px){
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

}

@media only screen and (min-width: 1024px) {
    .kurashi-content{
        max-width: 1024px;
    }
}    

@media only screen and (min-width: 1280px) {
    .kurashi-content{
        max-width: 1280px;
    }

    .kurashi-sp{
       display: none !important;
    }




    #viewport {
        width: 1263px;
        height: 1040px;
        cursor:move;    
        position:relative;
        float:left;       
        overflow: initial !important;
        margin-top: 150px;
    }

    .current-map-layer{
        top: 0 !important;
    }
}

@media only screen and (max-width: 1279px) {
    .kurashi-pc{
       display: none !important;
    }

    .kurashi .process{
        overflow: auto;
        padding-top: 220px;
    }

    .title-sp{
        text-align: center;
        padding-top: 20px;
    }


    .kurashi-content{
      position: relative;
      overflow: initial;
    }

    #viewport-sp {
        width: 784px;
        height: 503px;
        cursor:move;
        overflow:initial;
        position:relative;
        float:left;        
    }

    .wrap_fields {       
        top: 20px;
        right: 25px;
        width: 320px;
        height: 224px; 
        padding: 15px 20px;      
    }

    .field_title a {
        padding: 6px 8px 8px 10px;
        color: #ffffff;
        font-size: 8px;
        position: relative;
    }

    .field_content {  
        font-size: 8px;
        padding: 3px 0px 3px 0px;
    }

    .field_title_1 a:before {
       border-bottom: 24px solid #e96188;
    }

    .field_title_2 a:before {
       border-bottom: 24px solid #f7b10a;
    }

    .field_title_3 a:before {
       border-bottom: 24px solid #4e9bd5;
    } 

    .field_title_2 span{
      margin-right: 15px;
    }

    .field_title_3 span{
      margin-right: 40px;
    }


    .mark01{
        position:absolute;
        left: 381px;
        top: -32px;
        z-index: 999;
    }
    .mark02{
        position:absolute;
        left: 340px;
        top: 290px;
        z-index: 999;
    }
    .mark03{
        position:absolute;
        left: 126px;
        top: 326px;
        z-index: 999;    
    }
    .mark04{
        position:absolute;
        left: 280px;
        top: 440px;
        z-index: 999;    
    }
    .mark05{
        position:absolute;
        left: 417px;
        top: 340px;
        z-index: 999;    
    }
    .mark06{
        position:absolute;
        left: 525px;
        top: 387px;
        z-index: 999;    
    }
    .mark07{
        position:absolute;
        left: 435px;
        top: 259px;
        z-index: 999;    
    }
    .mark08{
        position:absolute;
        left: 508px;
        top: 300px;
        z-index: 999;    
    }
    .mark09{
        position:absolute;
        left: 400px;
        top: 495px;
        z-index: 999;    
    }
    .mark10{
        position:absolute;
        left: 250px;
        top: 360px;
        z-index: 999;    
    }

    .line01{
        position: absolute;
        right: 135px;
        top: 356px;
        display: none;     
    }

    .line02{
        position: absolute;
        left: 341px;
        top: -27px;
        display: none;
    }

    .line03{
        position: absolute;
        left: 452px;
        top: 77px;
        display: none;    
    }

    .line04{
        position: absolute;
        right: 168px;
        top: 4px;
        display: none;    
    }

    .line05{
        position: absolute;
        left: -7px;
        top: 229px;
        display: none;    
    }


    .line06{
        position: absolute;
        left: 51px;
        top: 342px;
        display: none;    
    }

    .line07{
        position: absolute;
        left: 156px;
        top: 378px;
        display: none;    
    }

    .line08{
        position: absolute;
        left: 296px;
        top: 486px;
        display: none;    
    }

    .line09{
        position: absolute;
        left: 415px;
        top: 544px;
        display: none;    
    }

    .line10{
        position: absolute;
        right: 66px;
        top: 402px;
        display: none;    
    }    

    .info01{
        position: absolute;
        right: 50px;
        top: 454px;
        z-index: 9999;
        display: none;
    }

    .info02{
       position: absolute;
       left: 155px;
       top: -36px;
       display: none; 
    }

    .info03{
        position: absolute;
        left: 292px;
        top: 29px;
        display: none;
    }

    .info04{
        position: absolute;
        right: 132px;
        top: -52px;
        display: none;
    }

    .info05{
        position: absolute;
        left: -18px;
        top: 202px;
        display: none;
        z-index: 9999;

    }

    .info06{
        position: absolute;
        left: -9px;
        top: 422px;
        display: none;    
    }

    .info07{
        position: absolute;
        left: -26px;
        top: 536px;
        display: none;    
    }

    .info08{
        position: absolute;
        left: 142px;
        top: 566px;
        z-index: 9999;
        display: none;    
    }

    .info09{
        position: absolute;
        left: 327px;
        top: 624px;
        display: none;    
    }

    .info10{
        position: absolute;
        right: 6px;
        top: 566px;
        display: none;    
    }

    #colorbox{
        margin-left: 0px !important;
        left: 0 !important;
    }

    #cboxContent p{
        min-height: unset;
    }

    #cboxContent .image-item{
        padding-top: 10px;
    }

    #cboxContent p{
       padding-left: 10px;
       padding-bottom: 10px;
       padding-top: 10px;
       font-size: 14px;
    }

    #cboxContent .logo {
        margin-left: 10px;
    }

    #cboxClose {
        cursor: pointer;
        display: block !important; 
        position: absolute;
        z-index: 9999;
        top: 10px;
        right: 10px;
        background: url(../images/kurashi/sp/close.png) no-repeat;
        height: 15px;
        width: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .title-sp{
       display: block !important; 
    }
}

@media only screen and (max-width: 767px) {

    .kurashi .process{
        overflow: auto;
        padding-top: 220px;
    }

    .title-sp{
        text-align: center;
        padding-top: 20px;
    }


    .kurashi-content{
      position: relative;
      overflow: initial;
    }

    #viewport-sp {
        width: 784px;
        height: 503px;
        cursor:move;
        overflow:initial;
        position:relative;
        float:left;        
    }

    .wrap_fields {       
        top: 20px;
        right: 45px;
        width: 320px;
        height: 210px; 
        padding: 20px 20px;      
    }

    .field_title a {
        padding: 6px 8px 5px 11px;
        color: #ffffff;
        font-size: 8px;
        position: relative;
    }

    .field_content {  
        font-size: 8px;
        padding: 3px 0px 3px 0px;
    }

    .field_title_1 a:before {
       border-bottom: 22px solid #e96188;
    }

    .field_title_2 a:before {
       border-bottom: 22px solid #f7b10a;
    }

    .field_title_3 a:before {
       border-bottom: 22px solid #4e9bd5;
    } 

    .mark01{
        position:absolute;
        left: 381px;
        top: -32px;
        z-index: 999;
    }
    .mark02{
        position:absolute;
        left: 340px;
        top: 290px;
        z-index: 999;
    }
    .mark03{
        position:absolute;
        left: 126px;
        top: 326px;
        z-index: 999;    
    }
    .mark04{
        position:absolute;
        left: 280px;
        top: 440px;
        z-index: 999;    
    }
    .mark05{
        position:absolute;
        left: 417px;
        top: 340px;
        z-index: 999;    
    }
    .mark06{
        position:absolute;
        left: 525px;
        top: 387px;
        z-index: 999;    
    }
    .mark07{
        position:absolute;
        left: 435px;
        top: 259px;
        z-index: 999;    
    }
    .mark08{
        position:absolute;
        left: 508px;
        top: 300px;
        z-index: 999;    
    }
    .mark09{
        position:absolute;
        left: 400px;
        top: 495px;
        z-index: 999;    
    }
    .mark10{
        position:absolute;
        left: 250px;
        top: 360px;
        z-index: 999;    
    }

    .line01{
        position: absolute;
        right: 135px;
        top: 356px;
        display: none;     
    }

    .line02{
        position: absolute;
        left: 341px;
        top: -27px;
        display: none;
    }

    .line03{
        position: absolute;
        left: 452px;
        top: 77px;
        display: none;    
    }

    .line04{
        position: absolute;
        right: 168px;
        top: 4px;
        display: none;    
    }

    .line05{
        position: absolute;
        left: -7px;
        top: 229px;
        display: none;    
    }


    .line06{
        position: absolute;
        left: 51px;
        top: 342px;
        display: none;    
    }

    .line07{
        position: absolute;
        left: 156px;
        top: 378px;
        display: none;    
    }

    .line08{
        position: absolute;
        left: 296px;
        top: 486px;
        display: none;    
    }

    .line09{
        position: absolute;
        left: 415px;
        top: 544px;
        display: none;    
    }

    .line10{
        position: absolute;
        right: 66px;
        top: 402px;
        display: none;    
    }    

    .info01{
        position: absolute;
        right: 50px;
        top: 454px;
        z-index: 9999;
        display: none;
    }

    .info02{
       position: absolute;
       left: 155px;
       top: -36px;
       display: none; 
    }

    .info03{
        position: absolute;
        left: 292px;
        top: 29px;
        display: none;
    }

    .info04{
        position: absolute;
        right: 132px;
        top: -52px;
        display: none;
    }

    .info05{
        position: absolute;
        left: -18px;
        top: 202px;
        display: none;
        z-index: 9999;

    }

    .info06{
        position: absolute;
        left: -9px;
        top: 422px;
        display: none;    
    }

    .info07{
        position: absolute;
        left: -26px;
        top: 536px;
        display: none;    
    }

    .info08{
        position: absolute;
        left: 142px;
        top: 566px;
        z-index: 9999;
        display: none;    
    }

    .info09{
        position: absolute;
        left: 327px;
        top: 624px;
        display: none;    
    }

    .info10{
        position: absolute;
        right: 6px;
        top: 566px;
        display: none;    
    }

    #colorbox{
        margin-left: 0px !important;
        left: 0 !important;
    }

    #cboxContent p{
        min-height: unset;
    }

    #cboxContent .image-item{
        padding-top: 10px;
    }

    #cboxContent p{
       padding-left: 10px;
       padding-bottom: 10px;
       padding-top: 10px;
       font-size: 14px;
    }

    #cboxContent .logo {
        margin-left: 10px;
    }

    #cboxClose {
        cursor: pointer;
        display: block !important; 
        position: absolute;
        z-index: 9999;
        top: 10px;
        right: 10px;
        background: url(../images/kurashi/sp/close.png) no-repeat;
        height: 15px;
        width: 15px;
    }
}

/*IE*/
@media all and (-ms-high-contrast:none) and (min-width: 1280px) {

    #viewport {
        height: 1140px;
        margin-top: 50px;
    }

    .current-map-layer{
        top: 100px !important;
    }

    .line01{
        position: absolute;
        right: 86px;
        top: 510px;
        display: none;     
    }

    .line02{
        position: absolute;
        left: 600px;
        top: -83px;
        display: none;
    }

    .line03{
        position: absolute;
        left: 770px;
        top: 161px;
        display: none;    
    }

    .line04{
        position: absolute;
        right: 182px;
        top: 21px;
        display: none;    
    }

    .line05{
        position: absolute;
        left: 239px;
        top: 335px;
        display: none;    
    }


    .line06{
        position: absolute;
        left: 90px;
        top: 485px;
        display: none;    
    }

    .line07{
        position: absolute;
        left: 290px;
        top: 539px;
        display: none;    
    }

    .line08{
        position: absolute;
        left: 481px;
        top: 713px;
        display: none;    
    }

    .line09{
        position: absolute;
        left: 697px;
        top: 746px;
        display: none;    
    }

    .line10{
        position: absolute;
        right: 47px;
        top: 584px;
        display: none;    
    }

    .field_title a{
        padding: 6px 8px 4px 11px;
    }

    .field_title_1 a:before{
        border-bottom: 29px solid #e96188;
    }

    .field_title_2 a:before{
        border-bottom: 30px solid #f7b10a;
    }

    .field_title_3 a:before{
        border-bottom: 30px solid #4e9bd5;
    }

    #cboxContent .image-item{
        margin-top: 80px;
    }

}




