

.navbar{
    position: relative !important;
    width: 100%;
}

body{
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
}

.pc, .navi-pc {
    display: block !important; 
}

.navi-sp, .sp, .polygon01, .polygon02 , .polygon03 , .polygon04 , .polygon05 , .polygon06, .nav-toggle {
    display: none !important; 
    visibility: hidden !important;
}

.break-print , .company-table, .company .map, .company .tab{
    page-break-after: always;
}

.nav {
    -webkit-transition: top 0.5s ease;
    -moz-transition: top 0.5s ease;
    -ms-transition: top 0.5s ease;
    -o-transition: top 0.5s ease;
    transition: top 0.5s ease;
     background: transparent; 
    cursor: pointer;
    font-size: 16px;
    width: 100%; 
    top: 5px;
    padding: 0; 
    position: absolute;
    height: auto;
    z-index: 9999;
    left: 200px;
}

.nav ul{
    flex-direction: row !important;
}

.nav ul li:before{
    border-bottom: 0px;
}

.navbar ul li {
    margin: 0 15px;
}


/* company */

.gg-map iframe{
    height: 700px !important;
}

.company .tab .ttl-underline{   
    padding-top: 30px !important;
}

.company .tab-access .tab-wrapper{
    max-width: 1170px !important;   
    top: 20px !important;
}

.company .map .ttl{
    margin-left: 20px !important;
    margin-top: -80px !important;
}

.pmsquet_pc .sgs_wp{
     padding-bottom: 5px !important;
}

.company-table .company-inner {
    padding: 0 0px;
}

.pmsquet_pc .btn-border-psg, .sgs_pc .btn-border-psg{
    bottom: -1px !important;
}

/* news */

.news-list-wrapper{
    margin-top: -80px;
}


.IE9 .nav {
    top: 30px !important;
    left: 280px !important;
}

.IE9 .navbar ul li {
    margin: 0 10px !important;
}

.IE9 .company .map .ttl{
    margin-left: 0px !important;
    margin-top: -60px !important;
}

.Safari .nav ul li a{
   font-size: 14px !important;
}

.Safari .nav {
    top: 30px !important;
    left: 265px !important;
}

.Safari .navbar ul li {
    margin: 0 10px !important;
}

.Safari .company .map .ttl{
    margin-left: 0px !important;
    margin-top:  40px !important;
}

.Safari .company .time-line .entries .entry .title{
    font-size: 14px !important;
}

.Safari .company .time-line .entries .entry .body p{
   font-size: 14px !important;
}


.IE9 .table-responsive > tbody > tr td:first-child {
   width: 30%;
   padding: 15px 0px 15px 40px !important;
}

.IE9 .table-responsive > tbody > tr td:first-child + td {

   width: 69%;
   border-left: 1px solid #dedede;
   padding: 10px 0px 15px 20px !important;
}

.IE9 .table-responsive > tbody > tr {
   border: 1px solid #dedede;
}

.IE9 .table-responsive > tbody > tr td {
    border: none;
    position: relative;
    overflow: hidden;
    font-size: 15px;
    display: inline-block;
}

.IE9 .nav ul li a {
    font-size: 14px !important;
}

.IE9 .pmsquet_pc .btn-border-psg, .IE9 .sgs_pc .btn-border-psg{
    bottom: 5px !important;
}

.Safari .table-responsive > tbody > tr td:first-child {
    background-color: #efefef;
    border: 1px solid #dedede;
}

.Safari .table-responsive > tbody > tr td {
    border: none;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 2px 3px 2px 15px;
    font-size: 15px;
    display: inline-block;
}

.Safari .pmsquet_pc .btn-border-psg, .Safari .sgs_pc .btn-border-psg{
    bottom: 4px !important;
}




@media (orientation:landscape) and (min-width:600px) {

    h1.logo img {
        height: 60px;
    }
    
    /* company */
    .gg-map iframe{
        height: 500px !important;
    }
}

@media (min-width: 500px) and (max-width: 650px) {
  .table-responsive,
  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive th,
  .table-responsive td,
  .table-responsive tr {
    display: revert !important;
  }
  .table-responsive > tbody > tr td:first-child {
    background-color: white !important;
    width: 20% !important;
  }
  .table-responsive > tbody > tr td {
    border: 0.5px solid #dedede !important;
  }
  .nav ul li a {
    font-size: 9.5px !important;
  }
}



