@media screen and (max-width: 767px) {
    .software-science .img {
        padding: 0 10px;
    }

    .recruit .software-science {
        margin-top: 20px;
    }

    .recruit .job-hunting {
        margin-bottom: 10px;
        margin-top: 20px;
        padding:20px 10px;
    }
    .recruit .job-hunting .right .txt{
        line-height: 25px;
        font-size: 17px;
    }
    .recruit .job-hunting .right .ttl-underline {
        position: relative;
        z-index: 2;
    }
    .recruit .job-hunting .right .ttl-underline:before {
        background: #fda2a0;
        content: '';
        height: 5px;
        left: 7px;
        bottom: 1px;
        width: 91%;
        position: absolute;
        z-index: -1;
    }

}