.ryu-kessai-inner{
    max-width: 1170px;
}
.tabtop li {
    background: #cef1fa;
}

.tabtop {
    text-align: center;
}
.settlement-content {
    margin-top: 0px;
}
.tabtop li a {
    font-size: 24px;
    padding: 15px 35px;
    display: inherit;
}
.tabtop ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#part-2 .kessai-underline span:before {
    left: -598px;
}
.tabtop ul:after {
    background: #cef1fa;
    position: absolute;
    content: '';
    height: 12px;
    left: 0;
    bottom: -5px;
    width: 100%;
    z-index: -1;
    /*-webkit-transform: translate(-50%, 0);*/
    /*transform: translate(-50%, 0);*/
}
.tabtop ul:before {
    background: #fff;
    position: absolute;
    content: '';
    height: 12px;
    left: 0;
    bottom: -5px;
    width: 10%;
    max-width:80px;
    /*z-index: -1;*/
    /*-webkit-transform: translate(-50%, 0);*/
    /*transform: translate(-50%, 0);*/
}
@media screen and (max-width:1200px ) {
    .tabtop ul:before {
        width: 6%;
    }

}
@media screen and (max-width:1000px ) {
    .tabtop ul:before {
        width: 6%;
    }
}

@media screen and (max-width:900px ) {
    .tabtop ul:before {
        width: 4%;
        max-width: none;
    }
}
@media screen and (max-width:850px ) {
    .tabtop ul:before {
        width: 0%;
    }
}


.tabtop li.active a {
    padding: 20px 35px;
    color: #fff;
}

.tabtop li.active {
    background: linear-gradient(150deg, #35c4ea 0%, #35c4ea 50%, #8fca70 71%, #8fca70 100%);
}
.tab-panel {
    display: none;
}

.tab-panel.active {
    display: block;
}
.ryu-kessai-info {
    width: 100%;
}

.kessai-underline span:before {
    left: -714px;
    width: 1000px;
}
.solution-list-inner {
    width: 100%;
    max-width: 100%;
    margin: 30px 0;
}

ul.solution-list1 {
    padding: 0;
}

.chart-block {
    padding: 0 30px;
}
section.tab-solution .container {
    overflow: inherit;
}
@media (max-width: 1200px) {

}
@media (min-width: 1200px) { 
}
@media screen and (min-width: 992px) {

}
@media screen and (max-width: 991px) {

}
@media screen and (max-width: 1024px) {
    
}
@media (min-width: 768px) {

}
@media (max-width: 767px) {
    .sp-visual {
        font-size: 24px;
        color: #fff;
        font-weight: 700;
        text-align: center;
        line-height: 30px !important;
    }
    .tabtop li a {
        font-size: 14px;
        padding: 5px 0px;
        display: inherit;
    }
    .tabtop li.active a {
        padding: 8px 0px;
        color: #fff;
    }
    .container.ryu-kessai-inner {
        padding: 0 !important;
        margin-top: 15px;
    }
    .tabtop li {
        width: 50%;
    }
    .ryu-kessai-inner {
        margin-top: 10px;
    }
    .solution-list-item {
        margin-bottom: 0;
        width: 100%!important;
        padding: 7px 10px;
    }
    .ryu-underline {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    ul.solution-list2 {
        margin: 0;
    }
    .solution-list-item2 {
        margin-bottom: 0;
        width: 100%!important;
        padding: 7px 10px;
    }
    ul.solution-list2 {
        padding: 0;
    }
    p.chart-ttl {
        font-size: 16px;
        font-weight: 700;
    }

    p.chart-ttl {
        padding: 5px 10px;
    }
    .chart-ttl:before{
        width: 4px;
        height: 30px
    }
    .chart-block img {
        width: auto;
        max-width: inherit;
    }

    .chart-block .img {
        height: 100%;
        max-height: none;
        overflow: auto;
        width: 100%;
    }
    .ryu-kessai-info {
        padding: 0 10px;
    }

    .ryu-kessai-info p.content1 {
        font-size: 16px;
    }

    p.ipo-txt {
        font-size: 14px;
        padding: 10px 20px;
    }

    .sp-tab-list {
        padding: 0 20px;
    }

    p.ryu-btn-wrapper.absolute .btn {
        width: 60px;
    }

    p.ryu-btn-wrapper.absolute .btn span {
        font-size: 14px;
    }
    .undl span:before {
        width: 865px !important;
    }
}
@media all and (-ms-high-contrast: none) { 
}
@media screen and (max-width: 375px) {
    .tabtop li a {
        font-size: 12px;
        font-weight: bold;
    }
    .ryu-undl span:before {
        width: 900px !important;
    }
    p.content1,p.content3,p.content2 {
        font-size: 14px;
    }
    .solution-list1 .solution-list-item .ryu-img img {
        width: 33%;
    }
    .solution-list-item .ttl-underline span {
        font-size: 14px;
    }
    .solution-txt {
        font-size: 14px;
        line-height: 20px;
        text-indent: -15px;
        padding-left: 15px;
    }
    .solution-list-inner {
        width: 100%;
        max-width: 100%;
        margin: 20px 0 10px;
    }    
}
@media (min-width: 320px) and (max-width: 767px) {

}
@media (min-width: 768px) and (max-width: 890px) {

}
@media (min-width: 768px) and (max-width: 970px) {

}